                                     
![jupyter](s1.png)
![jupyter](s2.png)

Reference : 
https://geekymedics.com/how-to-read-a-ctg/
Dataset url:
http://archive.ics.uci.edu/ml/datasets/Cardiotocography

![jupyter](s3.png)

# Feature Description:
![jupyter](3.png)

# 1.Data Acquisition

In [17]:
import pandas as pd
df = pd.read_csv('./fetalHeartRate.csv')
df = df.drop(columns=['AC.1', 'FM.1', 'UC.1','DL.1', 'DS.1', 'DP.1'],axis=1) 
df.shape #(2129, 35)
df.head(10)

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,B,C,D,E,AD,DE,LD,FS,SUSP,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,120.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,132.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,0.0,0.0,0.0,133.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,0.0,0.0,0.0,134.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,132.0,...,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0
5,0.0,953.0,1.0,0.0,10.0,9.0,0.0,2.0,0.0,134.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,3.0
6,240.0,953.0,1.0,0.0,9.0,6.0,0.0,2.0,0.0,134.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,3.0
7,62.0,679.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,3.0
8,120.0,779.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,122.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,3.0
9,181.0,1192.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,122.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,3.0

# Data Cleansing
1. Considering there are total 2129 simples, and the max number of null value in each column is 3, Direct remove the rows that contain null value won't affect result greatly.
2. Datatype: all float number, that is what we want.
3.Remove duplated rows.
4.Map -1 to 0 in columns "B	C	D	E	AD	DE	LD	FS	SUSP"

In [18]:
# import missingno as msno 
# msno.heatmap(df)

In [19]:
miss_data_total = df.isnull().sum().sort_values(ascending=False) 
df.isnull().count()

b           2129
e           2129
AC          2129
FM          2129
UC          2129
DL          2129
DS          2129
DP          2129
DR          2129
LB          2129
ASTV        2129
MSTV        2129
ALTV        2129
MLTV        2129
Width       2129
Min         2129
Max         2129
Nmax        2129
Nzeros      2129
Mode        2129
Mean        2129
Median      2129
Variance    2129
Tendency    2129
A           2129
B           2129
C           2129
D           2129
E           2129
AD          2129
DE          2129
LD          2129
FS          2129
SUSP        2129
NSP         2129
dtype: int64

In [20]:
miss_data_per = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
miss_data = pd.concat([miss_data_total, miss_data_per], axis=1, keys=['Total', 'Percentage'])
df = df.dropna(axis=0,how='any')
df.shape # (2126, 41)

(2126, 35)

In [21]:
df = df.drop_duplicates()
df.shape # (2116, 41)
df.head(5)

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,B,C,D,E,AD,DE,LD,FS,SUSP,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,120.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,132.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,0.0,0.0,0.0,133.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,0.0,0.0,0.0,134.0,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,132.0,...,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0

In [22]:
df['B'].map({-1:0,1:1})
colums = ['B','C','D','E','AD','DE','LD','FS','SUSP']
for col in colums:
    df[col] = df[col].map({-1:0.0,1:1})
df[df.isnull()] = 0 
df.head(5)

,b,e,AC,FM,UC,DL,DS,DP,DR,LB,...,B,C,D,E,AD,DE,LD,FS,SUSP,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,120.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,132.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,0.0,0.0,0.0,133.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,0.0,0.0,0.0,134.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,132.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# 

![jupyter](s4.png)

At here, we remove DR, which stands for repetitive decelerations, because most of numbers in this column are 0. <br>

In [23]:

df['DR'].value_counts() # 2116/2116 are 0 ， remove this column
df['DS'].value_counts() # 2109/2116 are 0, remove this colmun as well
df = df.drop(columns=['DR','DS'],axis=1)
df.shape #

(2116, 33)

### Checking Outliers manually
Fetal tachycardia is defined as a baseline heart rate greater than 160 bpm
Fetal bradycardia is defined as a baseline heart rate of less than 100 bpm
In this case, ther are no fetus suffers from both conditions.

In [24]:
df.query('LB>160')
df.query('LB<100')

Empty DataFrame
Columns: [b, e, AC, FM, UC, DL, DP, LB, ASTV, MSTV, ALTV, MLTV, Width, Min, Max, Nmax, Nzeros, Mode, Mean, Median, Variance, Tendency, A, B, C, D, E, AD, DE, LD, FS, SUSP, NSP]
Index: []

[0 rows x 33 columns]

# EDA

1.Baseline variability refers to the variation of fetal heart rate from one beat to the next.
A healthy fetus baseline variability range from 5 to 25 bpm.<br>
Abnormal:<br>
less than 5 bpm for more than 50 minutes
![jupyter](5.png)
There are no outliers in Baseline variability.

In [25]:

Q1 = df["ASTV"].quantile(0.25)
Q3 = df["ASTV"].quantile(0.75)
IQR = Q3-Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR # 104
print(lower) 
print(upper)
df.query('ASTV>104 or ASTV < 1')

-11.5
104.5

Empty DataFrame
Columns: [b, e, AC, FM, UC, DL, DP, LB, ASTV, MSTV, ALTV, MLTV, Width, Min, Max, Nmax, Nzeros, Mode, Mean, Median, Variance, Tendency, A, B, C, D, E, AD, DE, LD, FS, SUSP, NSP]
Index: []

[0 rows x 33 columns]

![jupyter](6.png)
For prolonged deceleration,
If it lasts between 2-3 minutes it is classed as non-reassuring. If it lasts longer than 3 minutes it is immediately classed as abnormal. In this case, there are samples that prolonged deceleration are zero, it's impossible for fetus that have no heat beat deceleration. There are about 91% samples have 0 prolonged deceleration. Let's remove this column.

In [26]:

df.query('DP>3') # 1 rows × 33 columns
cols = df.query('DP==0')['DP'].count()
# 1938 rows 
rows = df.shape[0]
print(cols / rows) # 0.9158790170132325
df = df.drop(columns=['DP'],axis=1)
df.head(5)

0.9158790170132325

,b,e,AC,FM,UC,DL,LB,ASTV,MSTV,ALTV,...,B,C,D,E,AD,DE,LD,FS,SUSP,NSP
0,240.0,357.0,0.0,0.0,0.0,0.0,120.0,73.0,0.5,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
1,5.0,632.0,4.0,0.0,4.0,2.0,132.0,17.0,2.1,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,177.0,779.0,2.0,0.0,5.0,2.0,133.0,16.0,2.1,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,411.0,1192.0,2.0,0.0,6.0,2.0,134.0,16.0,2.4,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,533.0,1147.0,4.0,0.0,5.0,0.0,132.0,16.0,2.4,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

This is getting painful to select features manually as none domain expert,let me try to use other other way to do it. <br>

In [27]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split

def getRankedColumns(df):
    X = df.drop(columns = ['NSP']).values 
    y = df['NSP'].values
    lr = LinearRegression()
    rfe = RFE(lr,n_features_to_select=1)
    rfe.fit(X,y)
    names = df.drop(columns = ['NSP']).columns
    print("Feature sorted by their rank:")
    list1 = sorted(zip(map(lambda x : round(x,4),rfe.ranking_),names))
    li = []
    for i in list1:
        li.append(i[1])
    print(li)
    return li 
        
keepColums =getRankedColumns(df)
def scoreHeapMap(y_predict,y_test):
    score =accuracy_score(y_predict,y_test) 
    cm = metrics.confusion_matrix(y_test,y_predict)
    plt.figure(figsize=(9,9))
    sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'Blues');
    plt.ylabel('Actual RISK level');
    plt.xlabel('Predicted RISK level');
    all_sample_title = 'Accuracy Score: {0}'.format(score)
    plt.title(all_sample_title, size = 15);
def model_and_score(keepColums,df):
    X = df.drop(columns=['NSP'],axis=1)
    y = df['NSP']
    (X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.3, random_state=0)
    regre.fit(X_train,y_train)
    y_predict = regre.predict(X_test)
    scoreHeapMap(y_predict,y_test)

ImportError: dlopen(/Users/zhangjuan/anaconda3/envs/py37/lib/python3.7/site-packages/scipy/special/_ufuncs.cpython-37m-darwin.so, 2): Library not loaded: @rpath/libmkl_rt.dylib
  Referenced from: /Users/zhangjuan/anaconda3/envs/py37/lib/python3.7/site-packages/scipy/special/_ufuncs.cpython-37m-darwin.so
  Reason: image not found

# MODELLING & Score
Let's try if model performs well after reduced the dimention.
Out objective is to detect risk level of fetus, there are 3 level in total, each present diffirent degree of risks.<br>
So it's a classification problem, we can use LogisticRegression to solve the problem.

![jupyter](s5.png)

In [ ]:
model_and_score(keepColums,df)

###  Check the precision again after reduce to freature to 15 columns
With an acccuracy of 98%. This model will have a good chance of been overfitting. <br>
Let me reduce more columns

In [ ]:
print(keepColums[:15])
model_and_score(keepColums[:15],df)

### Keep reducing columns, not much difference.

In [ ]:
print(keepColums[:10])
model_and_score(keepColums[:10],df)

### The model is still facing an overfitting problem
I noticed that the sample ratio is uneven, as we see from the heat map above, the number of the acutal risk level 1 have 500 sample, which is too much compare to other risk levels. <br>
Let me reduce the samples of risk level 1 . <br>
Now we have 100+78+45 rows coresponding risk level 1 + 2 + 3

In [ ]:
import numpy as np 

a = pd.Series (np.array([3,4,5]))
b = pd.Series(np.array([3,4,5,8,9]))
np.isin(b,a)

index = df[df['NSP'] == 1].index.tolist()
index = index [:100]

small = df.iloc[index,:]
# df[np.isin(df,small)].shape
df = pd.concat([small, df[df['NSP'] == 2], df[df['NSP'] == 3]]) # 568 rows × 32 columns

### Mess up the indices might help model perform better

In [ ]:
from sklearn.utils import shuffle 
df = shuffle(df)

### Let's try agian 
A little bitter, well this dataset maybe different than other dataset, the fetus heart rate features can strongly show  fetus health status, it's sometimes good to have good accracy score, especially in the medical field!

In [1]:
model_and_score(keepColums[:10],df)

NameError: name 'model_and_score' is not defined

![jupyter](s6.png
)